version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./:/frontend:/app
      - node_modules:/frontend/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true

volumes:
  pgdata: {}
  node_modules: {}