version: '3.8'
services:
  backend:
    build:
      context: ./backend
      target: builder
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    volumes:
      - ./backend:/app
    working_dir: /app
    command: sh -c "air"
      
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./:/frontend:/app
      - node_modules:/frontend/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: expenses
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: {}
  node_modules: {}
