version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
      target: builder
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    volumes:
      - ./backend:/app
    working_dir: /app
    command: air
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    stdin_open: true
    tty: true
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: expenses
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/scripts/db_init.sql:/docker-entrypoint-initdb.d/init.sql

  migrate-up:
    image: migrate/migrate
    volumes:
      - ./backend/cmd/migrate/migrations:/migrations
    command: ["-path", "/migrations", "-database",  "postgres://myuser:mypassword@db:5432/expenses?sslmode=disable", "up"]
    depends_on:
      - db

  migrate-down:
    image: migrate/migrate
    volumes:
      - ./backend/cmd/migrate/migrations:/migrations
    command: ["-path", "/migrations", "-database",  "postgres://myuser:mypassword@db:5432/expenses?sslmode=disable", "down"]
    depends_on:
      - db

  migrate-create:
    image: migrate/migrate
    volumes:
      - ./backend/cmd/migrate/migrations:/migrations
    depends_on:
      - db
volumes:
  postgres_data: {}
  node_modules: